<div id="<%= dom_id job_offer %>">
  <p>
    <strong>Title:</strong>
    <%= job_offer.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job_offer.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= job_offer.user_id %>
  </p>

</div>
