<h1>Editing job offer</h1>

<%= render "form", job_offer: @job_offer %>

<br>

<div>
  <%= link_to "Show this job offer", @job_offer %> |
  <%= link_to "Back to job offers", job_offers_path %>
</div>
