<p style="color: green"><%= notice %></p>

<h1>Job offers</h1>

<div id="job_offers">
  <% @job_offers.each do |job_offer| %>
    <%= render job_offer %>
    <p>
      <%= link_to "Show this job offer", job_offer %>
    </p>
  <% end %>
</div>

<%= link_to "New job offer", new_job_offer_path %>
